<div class="container-fluid g-0 w-100 h-100" (click)="clickCloseNotification()">
    <main class="container-fluid h-100">
      <div class="row">
        <div class="display-area mt-3 p-4 w-100 h-100" [ngClass]="{'display-area-shrink': sideNavStatus} " (click)="noSideBar()">
          <div class="row justify-content-center mb-3">
            <div class="col-md-8">
              <div class="text-center  side-text">
                <h2>Nova Vacina</h2>
              </div>
              <form [formGroup]="newVacinaForm" (ngSubmit)="registerVaccine()">
                <div *ngIf="errorVaccine == true" class="alert alert-danger" role="alert">
                  <div class="text-danger text-center">
                    <span>Uma vacina já foi cadastrada com o nome: {{nome.value}}</span>
                  </div>
                </div>
                <div *ngIf="errorVaccine == true" class="alert alert-danger" role="alert">
                  <div class="text-danger text-center">
                    <span>Falha ao cadastrar nova vacina.</span>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control futuristic-input" id="nome" formControlName="nome" placeholder="Nome">
                  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="text-danger ms-1">
                    <div *ngIf="nome.errors?.['required']">Campo obrigatório.</div>
                    <div *ngIf="nome.errors?.['minlength']">O título deve possuir no mínimo 4 caracteres.</div>
                    <div *ngIf="nome.errors?.['maxlength']">O título deve possuir no máximo 40 caracteres.</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="idadeNescessaria">Idade Nescessária</label>
                  <input type="number" class="form-control futuristic-input" id="idadeNescessaria" min="0" formControlName="idadeNescessaria" placeholder="Idade Nescessária">
                  <div *ngIf="idadeNescessaria.invalid && (idadeNescessaria.dirty || idadeNescessaria.touched)" class="text-danger ms-1">
                    <div *ngIf="idadeNescessaria.errors?.['required']">Campo obrigatório.</div>
                  </div>                  
                </div>
                <div class="form-group mb-4 mt-5 item">                                      
                  <label class="form-group mb-3 mt-4 d-inline-grid item w-100 p-3 mt-2 justify-content-center text-center input-file" appDrop  (files)="fileDropped($event)">
                      <input type="file" id="arquivo" class="invisible" formControlName="link" (change)="arquivoSelecionado($event)">
                      <label for="arquivo"><i for="arquivo" class="fa-solid fa-upload fa-2xl mb-2 up-bounce item" style="color: #00B2FF;"></i></label>
                      <span class="m-2">Ou</span>
                      <label for="arquivo" class="btn custom-file-label item" style="background-color:  #00B2FF; color: white">Escolher Arquivo</label>
                      <label class="mt-3" *ngIf="fileName != ''">
                          <span>Arquivo Selecionado: {{fileName}}</span>
                      </label>
                  </label>
                  <div *ngIf="link.invalid && (link.dirty || link.touched)" class="text-danger ms-1">
                    <div *ngIf="link.errors?.['required']">Campo obrigatório.</div>
                    <div *ngIf="link.errors?.['imgError']">Formato de imagem inválido.</div>
                  </div>
                </div>
                <div class="form-group text-end mb-5">
                  <button type="submit" class="btn text-end" style="background-color: #00B2FF;; color: white">Salvar <i class="fa-regular fa-floppy-disk ms-2 me-2"></i></button>
                </div>
              </form>
          </div>
          <div class="sidebar-overlay" [ngClass]="{'overlay-active': sideNavStatus}"></div>
        </div>
      </div>
      </div>
   </main> 
  </div>