<div class="container-fluid g-0 w-100 h-100" (click)="clickCloseNotification()">
  <main class="container-fluid h-100">
    <div class="row">
      <div class="display-area mt-3 p-4 w-100 h-100" [ngClass]="{'display-area-shrink': sideNavStatus} " (click)="noSideBar()">
        <div class="row justify-content-center">
          <div class="w-100 ms-auto">
            <div class="text-center mt-2" *ngIf="profissionaisArray.length == 0">
              <span>Nenhum profissional cadastrado.</span>
            </div>
          </div>
          <h4 class="text-center mb-2">Profissionais Responsáveis</h4>
          <div class="col-md-8 mb-5 mt-5" *ngIf="profissionaisArray.length > 0">
            <div class="card rounded-lg mx-auto shadow-sm mb-5 mb-3">
              <div class="card-body text-center">
                <div class="contacts-list " style="max-height: 400px; overflow-y: auto;">
                  <div *ngFor="let profissional of profissionaisArray" class="contact-item mb-4">
                    <div class="w-100 h-100" (click)="infosProfissional(profissional.id)">
                    <div class="d-flex align-items-center">
                      <img style="height: 50px; width: 50px;" *ngIf="!profissional?.usuario?.profilePhoto" src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="{{ profissional?.usuario?.name}}" class="user-avatar mt-2">
                      <img style="height: 50px; width: 50px;" *ngIf="profissional?.usuario?.profilePhoto" src="{{profissional?.usuario?.profilePhoto}}" alt="{{profissional?.usuario?.name}}" class="user-avatar mt-2">
                      <div class="contact-info">
                        <h6 class="ms-2 mt-2 user-name">{{ profissional?.usuario?.name }}</h6>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-overlay" [ngClass]="{'overlay-active': sideNavStatus}"></div>
      </div>
    </div>
  </main>
</div>
