<div class="container-fluid g-0 w-100 h-100">
  <app-header-sidebar (sideNavToggled)="sideNavStatus = $event"></app-header-sidebar>
  <main class="container-fluid h-100">
    <div class="row">
      <div class="col-lg-3 col-xl-2 d-none d-lg-block">
        <app-sidebar [sideNavStatus]="sideNavStatus" class="bg-white shadow-lg h-100"
          [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidebar>
      </div>
      <div class="display-area mt-3 p-4 w-100 h-100" [ngClass]="{'display-area-shrink': sideNavStatus} " (click)="noSideBar()">
        <div class="row justify-content-center">
          <div class="col-10 col-md-4">
            <div class="text-center  side-text">
              <h2>Editar Gestante</h2>
            </div>
            <div class="container">
              <form (ngSubmit)="submitForm()" [formGroup]="formUpdateGestante" #formUpdate="ngForm">
            
                <div class="mb-3">
                  <label for="weight" class="form-label">Peso Atual</label>
                  <input type="number" class="form-control" id="weight" min="0" formControlName="gestanteWeight" name="gestanteWeight" placeholder="Digite o peso da gestante" required>
                  <div *ngIf="formUpdateGestante.get('gestanteWeight')?.invalid && (formUpdateGestante.get('gestanteWeight')?.dirty || formUpdateGestante.get('gestanteWeight')?.touched) || formUpdateGestante.get('gestanteWeight')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('gestanteWeight')?.hasError('required')">Campo obrigatório.</div>
                    
                  </div>
                </div>
                <div class="mb-3">
                  <label for= "height" class="form-label">Altura</label>
                  <input type="number" class="form-control" id="height" min="0" formControlName="gestanteHeight" name="gestanteHeight" placeholder="Digite a altura da gestante" required>
                  <div *ngIf="formUpdateGestante.get('gestanteHeight')?.invalid && (formUpdateGestante.get('gestanteHeight')?.dirty || formUpdateGestante.get('gestanteHeight')?.touched) || formUpdateGestante.get('gestanteHeight')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('gestanteHeight')?.hasError('required')">Campo obrigatório.</div>
                  </div>
                </div>
              
                <div class="mb-3">
                  <label for="numberOfPregnancies" class="form-label">Número de Gestações</label>
                  <input type="number" class="form-control" id="numberOfPregnancies" min="0" formControlName="numberOfPregnancies" name="numberOfPregnancies" placeholder="Digite o número de gestações" required>
                  <div *ngIf="formUpdateGestante.get('numberOfPregnancies')?.invalid && (formUpdateGestante.get('numberOfPregnancies')?.dirty || formUpdateGestante.get('numberOfPregnancies')?.touched) || formUpdateGestante.get('numberOfPregnancies')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('numberOfPregnancies')?.hasError('required')">Campo obrigatório.</div>
                  </div>
                </div>
              
                <div class="mb-3">
                  <label for="normalDeliveries" class="form-label">Partos Normais</label>
                  <input type="number" class="form-control" id="normalDeliveries" min="0" formControlName="normalDeliveries" name="normalDeliveries" placeholder="Partos normais" required>
                  <div *ngIf="formUpdateGestante.get('normalDeliveries')?.invalid && (formUpdateGestante.get('normalDeliveries')?.dirty || formUpdateGestante.get('normalDeliveries')?.touched) || formUpdateGestante.get('normalDeliveries')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('normalDeliveries')?.hasError('required')">Campo obrigatório.</div>
                  </div>
                </div>
              
                <div class="mb-3">
                  <label for="cesareanDeliveries" class="form-label">Cesáreas</label>
                  <input type="number" class="form-control" id="cesareanDeliveries" min="0" formControlName="cesareanDeliveries" name="cesareanDeliveries" placeholder="Cesáreas" required>
                  <div *ngIf="formUpdateGestante.get('cesareanDeliveries')?.invalid && (formUpdateGestante.get('cesareanDeliveries')?.dirty || formUpdateGestante.get('cesareanDeliveries')?.touched) || formUpdateGestante.get('cesareanDeliveries')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('cesareanDeliveries')?.hasError('required')">Campo obrigatório.</div>
                  </div>
                </div>
              
                <div class="mb-3">
                  <label for="abortions" class="form-label">Abortos</label>
                  <input type="number" class="form-control" id="abortions" min="0" formControlName="abortions" name="abortions" placeholder="Abortos" required>
                  <div *ngIf="formUpdateGestante.get('abortions')?.invalid && (formUpdateGestante.get('abortions')?.dirty || formUpdateGestante.get('abortions')?.touched) || formUpdateGestante.get('abortions')?.invalid && formUpdate.submitted" class="text-danger ms-1">
                    <div *ngIf="formUpdateGestante.get('abortions')?.hasError('required')">Campo obrigatório.</div>
                  </div>
                </div>
                <div *ngIf="updateError == true" class="alert alert-danger mb-3" role="alert">
                  <div class="text-danger text-center">
                    <span>Falha ao atualizar gestante.</span>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <button type="submit" class="w-50 btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            
        </div>
        <div class="sidebar-overlay" [ngClass]="{'overlay-active': sideNavStatus}"></div>
        <div class="d-lg-none d-fixed mt-5">
          <app-bottom-navigation></app-bottom-navigation>
        </div>
      </div>
    </div>
    </div>
 </main> 
</div>



