@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400&display=swap');

.contentBody {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.bg-md-color {
  background-color: #B6E7FD;
}

@media (min-width: 992px) {
  .contentBody {
    background: linear-gradient(to right, white 46.8%, #00B2FF);
  }
}

.transparent-image {
  border-radius: 0 12px 12px 0;
  height: 100vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.244)), url("/assets/images/profissional.png");
  background-size: cover;
}


.transparent-image::before {
  content: "";
  display: block;
  padding-top: 75%; 
}

  .btn-login{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    background-color: #00B2FF;
    color: white;
  }

  .btn-enter{
    opacity: 0.4;
}

  .btn-login:hover {
    background-color: white;
    color: #00B2FF;
    border: 2px solid #00B2FF;
  }
  
