<div class="container-fluid g-0 w-100 h-100" (click)="clickCloseNotification()">
  <main class="container-fluid h-100">
    <div class="row">
      <div class="display-area mt-3 p-4 w-100 h-100" [ngClass]="{'display-area-shrink': sideNavStatus}"
        (click)="noSideBar()">
        <div class="row justify-content-center mb-3">
          <div class="col-md-8 mt-2 mb-4">
            <div class="baby-card p-4">
              <div class="profile-picture rounded-circle position-relative text-center">
                <img *ngIf="!baby?.foto" src="https://cdn-icons-png.flaticon.com/128/1946/1946429.png" alt="{{ baby.none}}" class="user-avatar profile-picture rounded-circle mt-2">
                <img *ngIf="baby?.foto" src="{{baby?.foto}}" alt="{{ baby?.nome}}" class="user-avatar mt-2 profile-picture rounded-circle">
                <h5 class="mt-2 fw-bold">{{ baby?.nome}}</h5>
              </div>
              <hr>
              <div class="profile-info mt-4 d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="d-inline-grid">
                    <p><strong>Data de Nascimento:</strong>  {{ baby?.dataNascimento | date:'dd/MM/yyyy' }} </p>
                    <p><strong>Peso:</strong> {{baby?.peso}}kg</p>
                    <p><strong>Altura:</strong> {{baby?.altura}}cm</p>
                    <p><strong>Sexo:</strong> {{ baby?.sexo }}</p>
                    <p><strong>Tipo Sanguíneo:</strong> {{ baby?.tipoSanguineo }}</p>
                  </div>
                </div>
              </div>
              <hr>
              <div class="vaccine-list mt-4 mb-2">
                <h4 class="text-center mb-2">Vacinas</h4>
                <ul class="list-unstyled mt-2 mb-3">
                  <li *ngFor="let vaccine of vacinas" (click)="toggleDetails(vaccine)" class="mt-2 mb-3">
                    <div class="d-flex justify-content-between">
                     <span class="vaccine-name">{{ vaccine.nome }}</span>
                     <span class="ms-4 btn btn-danger text-white">
                      <a title="Deletar" (click)="deleteVacina(vaccine.id, vaccine.link)">
                        <i class="fa-solid fa-trash-can"></i>
                        Deletar
                      </a>
                    </span>
                    </div>
                    <div class="vaccine-details" [ngClass]="{'show': vaccine.expanded}">
                      <div class="d-flex justify-content-between ">
                        <span class="vaccine-name">Idade recomendada:</span>
                        <span *ngIf="vaccine.idadeNecessaria == 0" class="vaccine-date"> Ao nascer</span>
                        <span *ngIf="vaccine.idadeNecessaria == 1" class="vaccine-date"> 1º Mês</span>
                        <span *ngIf="vaccine.idadeNecessaria == 2" class="vaccine-date"> 2º Mês</span>
                        <span *ngIf="vaccine.idadeNecessaria == 9" class="vaccine-date"> 9º Mês</span>
                        <span *ngIf="vaccine.idadeNecessaria == 12" class="vaccine-date"> 1 Ano </span>
                     </div>
                      <div class="d-block">
                        <a [href]="vaccine.link" class="pdf" target="_blank">
                          <i class="fa-solid fa-file-pdf"></i>
                          Informações</a>
                      </div>
                    </div>
                  </li>
                  <div *ngIf="vacinasBaby.length > 0">
                    <li *ngFor="let vaccine of vacinasBaby" (click)="toggleDetails(vaccine)">
                      <div class="d-flex justify-content-between">
                        <span class="vaccine-name">{{ vaccine.nome }}</span>
                        <span class="ms-4 btn btn-danger text-white">
                         <a title="Deletar" (click)="deleteVacina(vaccine.id, vaccine.link)">
                           <i class="fa-solid fa-trash-can"></i>
                           Deletar
                         </a>
                       </span>
                       </div>
                      <div class="vaccine-details" [ngClass]="{'show': vaccine.expanded}">
                        <div class="d-flex justify-content-between ">
                          <span class="vaccine-name">Idade recomendada:</span>
                          <span *ngIf="vaccine.idadeNecessaria == 0" class="vaccine-date"> Ao nascer</span>
                          <span *ngIf="vaccine.idadeNecessaria == 1" class="vaccine-date"> 1º Mês</span>
                          <span *ngIf="vaccine.idadeNecessaria == 2" class="vaccine-date"> 2º Mês</span>
                          <span *ngIf="vaccine.idadeNecessaria == 9" class="vaccine-date"> 9º Mês</span>
                          <span *ngIf="vaccine.idadeNecessaria == 12" class="vaccine-date"> 1 Ano </span>
                          <span *ngIf="vaccine.idadeNecessaria > 2 && vaccine.idadeNecessaria !== 9 && vaccine.idadeNecessaria < 12" class="vaccine-date"> {{vaccine.idadeNecessaria}}º Mês</span>
                       </div>
                        <div class="d-block">
                          <a [href]="vaccine.link" class="pdf" target="_blank">
                            <i class="fa-solid fa-file-pdf"></i>
                            Informações</a>
                        </div>
                      </div>
                    </li>
                    </div>
                </ul>
              </div>
              <div class="text-end rounded mb-5">
                <button class="btn add-btn" (click)="newVaccine()">
                  <i class="fa-solid fa-plus"></i>
                  Adicionar Vacina
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-overlay" [ngClass]="{'overlay-active': sideNavStatus}" (click)="noSideBar()"></div>
      </div>
    </div>
  </main>
</div>