.page {
    background-color: #00B2FF;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.error-code {
    font-size: 5rem;
}
.error-message {
    font-size: 2rem;
}
a {
    text-decoration: none;
}