<div class="page vh-100 w-100 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card mt-5 ms-auto">
                <div class="card-body text-center">
                    <h1 class="display-4">404</h1>
                    <p class="lead">Página Não Encontrada</p>
                    <p>Desculpe, a página que você está procurando não existe.</p>
                    <a (click)="goBack()" style="cursor: pointer;" class="btn btn-primary"><span class="text-white">Voltar para a página anterior</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
