.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  .profile-picture {
    position: relative;
    display: inline-block;
  }
  
  .profile-picture img {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
  }

  .active{
    color: #00B2FF;
}

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }
  
  .nav-item i {
    font-size: 24px;
    margin-bottom: 4px;
  }
  
  .nav-item.active {
    color: #00B2FF;
  }
  
  @media (max-width: 767px) {
    app-side-bar-gestante {
      display: none;
    }
  }
  