.card{
    background-color: #00B2FFE3;
    color: white;
}

.side-text{
    color: white;
}

.cardText{
    text-align: justify;
    margin-top: 2.5rem;
    font-size: 18.5px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.3s, transform 0.3s;
}