.div-calendar {
    text-align: center;
  }
  
  .days-of-week,
  .days-of-month {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    margin: 0;
  }
  
  .item {
    color: inherit;
  }
  
  .item:hover {
    color: white;
    background-color: #00B2FF;
    border-radius: 10%;
    cursor: pointer;
  }
  
  .day-name {
    background-color: #00B2FF;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .header-calendar button {
    border: 0;
  }
  
  .month-header {
    text-transform: capitalize;
  }
  
  .eventDay{
    background-color: #00B2FF;
    color: white;
  }
  