<nav class="navbar px-2 bg-white h-100 shadow-sm">
    <div class="d-flex justify-content-between align-items-center w-50">
      <div class="d-flex align-items-center">
        <div class="d-none d-lg-flex side-nav-button p- me-3" (click)="toggleSidebar()">
          <i class="fa-solid fa-bars p-2"></i>
        </div>
        <a href="#" class="font-logo me-2 ms-0 ">SisGestante</a>
      </div>
    </div>
    <div class="ms-auto align-items-center w-50">
      <ul class="list-unstyled mb-0 justify-content-between d-flex w-75 side-text">
        <li class="me-3 side-nav-item ms-auto position-relative" (click)=" toggleNotificationsMenu()">
          <i class="fa-regular fa-bell fa-lg" title="Notificações"></i>
          <span class="notification-badge badge rounded-pill badge-notification bg-danger" *ngIf="numberOfNotifications > 0">{{numberOfNotifications}}</span>
          <span class="ms-2 d-none d-sm-inline" style="cursor: pointer;">Notificações</span>
          <div class="position-absolute top-100 start-50 me-5 translate-middle-x mt-1 me-2 shadow-sm" *ngIf="isNotificationsOpen">
            <div class="card" style="min-width: 230px; max-width: 300px; max-height: 120px;">
            <div class="card-body">
              <ul class="list-unstyled" *ngFor="let notificacao of allNotifications">
                <li>{{notificacao.tituloGestante}}</li>
                <li>{{notificacao.descricaoGestante}}</li>
              </ul>
            </div>
            </div>
          </div>
        </li>
        <li class="side-nav-item ms-2" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket fa-lg" style="cursor: pointer; margin-top: 0.65rem;"></i>
          <span class="ms-2 d-none d-sm-inline" style="cursor: pointer;">Sair</span>
        </li>
      </ul>
    </div>  
  </nav>
  
  
  